#Modify which default nodejs/iojs installation should use
export NODE_PATH=/opt/auth0/node-v{{NODE_VERSION}}-linux-x64/bin

# Installation dir
export DIR=/opt/baas

export PATH=$NODE_PATH:$PATH

export CPU_MONITOR_FAILURES=10000000
export WORKERS=AUTO